body{
    background-image: url("images/wp5471307.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    background: linear-gradient(to right,purple white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    background: linear-gradient(purple, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
