h1{
    text-shadow: 0px 0px 5px white, 0px -5px 5px pink
}
.fa-youtube{
    color: deeppink
}
.fa-instagram{
    color: deeppink;
}
body{
    background: linear-gradient(to right, white, deeppink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    margin-left: 450px;
}
.helo{
    margin-left:450px;
}
body{
    margin: 0px;
    padding: 0px;
}
.type1{
    widht: 30%;
    display: block;
    margin: 0px auto;
}
.type2{
    widht: 30%;
    display: block;
    margin: 0px auto;
}
.type3{
    widht: 30%;
    display: block;
    margin: 0px auto;
}